
@media (max-width: 420px) {    
.ui-bar-a {
    background: -moz-linear-gradient(#81A8CE, #5E87B0) repeat scroll 0 0 #5E87B0;
    border: 1px solid #456F9A;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #254F7A;
}
.ui-btn-up-a {
    background: -moz-linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #2567AB;
    border: 1px solid #145072;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #145072;
}
.slider-small{
    display: block;
    padding: 5px 15px;
    height:30px;
}

label.ui-input-text, label.ui-slider, span.ui-slider-label {
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 0.3em;
    
}
label.ui-input-text, label.ui-slider{  color: #555555;}

.ui-checkbox .ui-btn-icon-left .ui-btn-inner, .ui-radio .ui-btn-icon-left .ui-btn-inner {
    padding-left: 22px;
    padding-top: 5px;
}
.ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label {
    font-size: 13px;
    font-weight: bold;
}
.ui-content .ui-listview-inset {
    margin: 0.2em 0;
}
.editMode .ui-listview{
    margin: 0 -15px -15px;
}

div.ui-slider{
top:0px;}

div.ui-slider-switch {

    height: 32px;
    margin-left: 0;
    overflow: hidden;
    text-align: right;
}
div.ui-slider-switch {
    width: 30%;
    float: right;
}
.ui-btn-down-c {
    color: #666666;}
label.ui-slider{display:inline;}
.ui-btn-hover-a {
    background: -moz-linear-gradient(#72B0D4, #4B88B6) repeat scroll 0 0 #4B88B6;
    border: 1px solid #00516E;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #014D68;
}
.ui-btn-up-c a.ui-link-inherit {
    color: #555555;
}

#site-info .ui-slider-switch {
    width: 50%;
}
.ui-li-has-count .ui-li-count {
    right: 22px;
}
#users-list .ui-li-has-count .ui-li-count {
    right: 26px;
}
#published-pages .ui-li-heading{font-size:13px;}
#published-pages .ui-li-count{ margin-top: -1.3em; }
.frame{ padding: 5px;}

span.ui-slider-label {margin: 0.6em 0 0.3em;}
.ui-radio .ui-btn-text{margin-left:20px;}
.ui-field-contain, fieldset.ui-field-contain {border-width: 0px;}
.ui-field-contain .ui-select {
    margin-left: -1%;
}
.ui-collapsible-heading{font-size:14px;}
.ui-field-contain label.ui-slider, .ui-field-contain label.ui-input-text{
width:50%;  margin-bottom: 2px;}
.ui-header .ui-title, .ui-footer .ui-title{ font-size: 15px;}
.ui-header .ui-title {
    margin: 0.6em 100px 0.8em;
}
.action-btns-div{
    margin-left: 1%;
    margin-right: 1%;
    width: 99%;
}

.icon-alignment .action-btn, .action-btn{
    margin-left: 0%;
    margin-right: 0%;
    max-width: 145px; 
    width: 50%;

}

.ui-btn-inner{padding:0.2em 0.7em;
}


.ui-bar-b {
    background: -moz-linear-gradient(#999999,#999999) repeat scroll 0 0 #999999;
    border: 1px solid #397114;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #397114;
}
.omnistyle{
background-color: #3A9A3A;
background-image:-moz-linear-gradient(center top , #42B142, #2D792D);
background-image:-webkit-linear-gradient(center top , #42B142, #2D792D);
background-image:-webkit-linear-gradient(  #42B142, #2D792D);
}

.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
    background-color: #2D792D;
}


  #accountview .account-info .ui-li-count,  #siteview .site-info .ui-li-count,#userview  .ui-li-count, .info {
    font-size: 11px;
    left: 165px;
    margin: 0 32px;
    padding: 0px;
    position: absolute;
    text-align: center;

}
.info {
 left: 140px;
}
  #accountview .account-info .ui-li-count,  #siteview .site-info .ui-li-count, #userview  .ui-li-count
  {
      width: 10%;
  }
  #url-label{display:none;}

}


@media (min-width:420px) { 
.icon-alignment .action-btn, .action-btn{
    margin-left: 0%;
    margin-right: 0%;
    max-width: 180px; 
    width: 50%;
}
}

@media (min-width: 520px) { 
    .action-btns-div{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    max-width:600px;
    
	}
	.icon-alignment .action-btn, .action-btn{
    margin-left: 0;
    margin-right: 0;
    max-width: 200px;
    width: 50%;

	}
 }
